/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

/* グローバルメニュー リンク色変更 */
.site-header a:link {
    color: #000000 ;
}
.site-header a:visited {
    color: #000000 ;
}
.site-header a:hover {
    color: #F00038 ;
}

/* マウスオーバーで画像をキラッと */
.alpha a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

/* container　横幅を1200pxに */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

/* テーブルのレスポンシブ 求人情報 */
.col-head-type1 {
  border-collapse: collapse;
  width: 100%;
}

.col-head-type1 th,
.col-head-type1 td {
  border: 1px solid #dbe1e8;
  padding: 8px;
}

.col-head-type1 th {
  background: #f9fafc;
  text-align: left;
  width: 150px;
}

@media only screen and (max-width: 800px) {
  .col-head-type1 tr,
  .col-head-type1 th,
  .col-head-type1 td {
    display: block;
    width: auto;
  }

  .col-head-type1 tr:first-child {
    border-top: 1px solid #dbe1e8;
  }

  .col-head-type1 th,
  .col-head-type1 td {
    border-top: none;
  }
}


/* テーブルのレスポンシブ 会社概要 */
.col-head-type2 {
  border-collapse: collapse;
  width: 100%;
}

.col-head-type2 th,
.col-head-type2 td {
  border: 1px solid #dbe1e8;
  padding: 8px;
}

.col-head-type2 th {
  vertical-align: middle;
  text-align: left;
  width: 300px;
}

@media only screen and (max-width: 800px) {
  .col-head-type2 tr,
  .col-head-type2 th,
  .col-head-type2 td {
    display: block;
    width: auto;
  }

  .col-head-type2 tr:first-child {
    border-top: 1px solid #dbe1e8;
  }

  .col-head-type2 th,
  .col-head-type2 td {
    border-top: none;
  }
}
/* ガターなし */
 .no-gutter > [class*='col-'] {
     padding-right:0;
     padding-left:0;
 }
/* スマホのときの電話番号 */
 .tel-number a {
     color:#ffffff;
     text-decoration:none;
     }
